@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #ff8c00, #ff2d00);
}


.from {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5em 30em;
    padding: 6em;
    box-shadow: 2px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #f0f0f0;
    border-radius: 30px;

}

h2 {
    margin-bottom: 1em;
    background: none;
}
p {
    margin-bottom: 8px;
    background: none;
}

input {
    padding: 12px 32px;
    border: none;
    border-radius: 30px; /* Mengatur sudut elemen menjadi lebih bulat */
    background: #dddddd; /* Warna latar belakang input */
    color: #333; /* Warna teks input */
    margin: 2%;
    font-size: 16px;

}


.button {
    padding: 12px;
    background: black;
    align-content: center;
    color: aliceblue;
    border-radius: 30px;
    font-size: 16px;
    margin: 2%;
    
}
