@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600&family=Poppins:wght@400;500;600;800&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;

}

header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 4rem;
    font-size: 1.1rem;
    background-color: white;
    
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

ul li {
    list-style: none;
    padding: 0 1rem;
}

ul {
    display: flex;
}

.btn-sec{
    padding: 0.8rem 1rem;
    border-color: #5E3BEE;
    background-color: white;
    color: #5E3BEE;
    font-size: 1.1rem;
    border-radius: 0.2rem;
    cursor: pointer;
    outline: none;
}

.btn-sec:hover{
    text-decoration: none;
    border-color: #5E3BEE;
    background-color: #5E3BEE;
    color: white;
    border-radius: 0.2rem;
    outline: none;
}

main, .section-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    height: 100vh;
}

main {
    background-color: #F5FCFF;
}

.right {
    max-width: 50%; /* Maksimum lebar adalah 100% dari parent */
    height: auto;
}

.left {
    width: 40rem;
}

h1 {
    font-size: 4rem;
    margin: 0.6rem 0;
}

.text {
    color: #5E3BEE;
}

p {
    font-size: 1.1rem;
}

.btn-pre{
    padding: 0.8rem 1rem;
    text-decoration: none;
    border-color: #5E3BEE;
    background-color: #5E3BEE;
    color: white;
    border-radius: 0.2rem;
    outline: none;
    font-size: 1.1rem;
    cursor: pointer;
    margin: 0.6rem 0;

}

.section {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem;
    background-color: white;
    margin: 2rem 0;
}

.section .baris {
    display: flex;
    flex-direction: row;
    
}
.baris {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3rem 0;
}

.card-1 {
    padding: 1.1rem;
    width: 24%;
    justify-content: space-between;
    background-color: #F5FCFF;
    
}

.baris .card-1 img {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.10);
}

.card-1 h3 {
    margin: 1rem 0;
}

h2 {
    font-size: 3rem;
    padding: 1rem 0;
}

.right-3 {
    max-height: 100%;
}

.right-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.porto {
    width: 28rem;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.10);
}

.porto .fit {
    width: 28rem;
}

.kotak {
    padding: 1rem 2rem;
}

.kotak p {
    margin: 1rem 0;
}

.rating i {
    color: rgb(200, 142, 254);
    margin-bottom: 1rem;
}

.baris .card-rat {
    width: 28rem;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 0.8rem;
}

.profil {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.profil img {
    padding-right: 1rem;
}
footer{
    background-color: #F5FCFF;
    padding: 4rem;
}

hr{
    margin: 4rem 0rem;
    fill: hsl(0, 0%, 0%);
}

.fut-atas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sosmed i{
    color: black;
    font-size: 24px;
}
.fa-twitter{
    font-size: medium;
}