@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600&family=Poppins:wght@400;500;600;800&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;

}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 4rem;
    font-size: 1.1rem;
    background-color: white;
    
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

header ul li {
    list-style: none;
    padding: 0 1rem;
}

header ul {
    display: flex;
}

.btn-sec{
    padding: 0.8rem 1rem;
    border-color: #5E3BEE;
    background-color: white;
    color: #5E3BEE;
    font-size: 1.1rem;
    border-radius: 0.2rem;
    cursor: pointer;
    outline: none;
}

.btn-sec:hover{
    text-decoration: none;
    border-color: #5E3BEE;
    background-color: #5E3BEE;
    color: white;
    border-radius: 0.2rem;
    outline: none;
}

main {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
}

img {
    max-width: 50%; /* Maksimum lebar adalah 100% dari parent */
    height: auto;
}

.left {
    width: 40rem;
}

h1 {
    font-size: 4rem;
    margin: 0.6rem 0;
}

.text {
    color: #5E3BEE;
}

p {
    font-size: 1.1rem;
}

.btn-pre{
    padding: 0.8rem 1rem;
    text-decoration: none;
    border-color: #5E3BEE;
    background-color: #5E3BEE;
    color: white;
    border-radius: 0.2rem;
    outline: none;
    font-size: 1.1rem;
    cursor: pointer;
    margin: 0.6rem 0;
}